#root {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.detailed-forecast {
  max-width: 500px;
}

.non-ideal-state-component {
  h4 {
    color: white;
  }

  path {
    stroke: white;
  }
}

#right-sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  border-radius: 4px;
  height: auto;
  width: 500px;
  overflow: auto;

  .bp6-card {
    background-color: inherit;
    flex-direction: column;
  }

  .pt-text-box {
    width: 100%;

    div {
      display: flex;
      justify-content: space-between;
    }

    margin-bottom: 15px;
  }

  .forecast-container {
    width: 100%;

    b {
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

    .bp6-heading {
      color: inherit;
    }

    .bp6-card {
      display: flex;
      flex-direction: column;
    }

    .forecast-period {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      img {
        margin-left: 5px;
      }
    }
  }
}
